# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pytype
.pytype/

# Pylint
.pylint.d/

# Cython debug symbols
cython_debug/

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon?
Icon\r

# Thumbnails
._*

# macOS metadata
*.Spotlight-V100
.Trashes
.VolumeIcon.icns
.fseventsd
.com.apple.timemachine.donotpresent
.AppleSystemRestore*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Local environment variables
.env
.env.*

# Misc
*.swp
*~

# macOS
.DS_Store

# Raster Data
Data/Raster/Elevation/vmelev_dem10m_Geotiff_GDA94_Vicgrid.tif
Data/Raster/Elevation/lgaDEM100m.tif
clippedDEM.tif
projDEM.tif
Data/Raster/Elevation/lgaDEM100m.tif